# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data folders (uncomment to ignore data)
# data/

# Vector DB
.chroma_data/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/
